/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --pink: #FFC2E6;
  --background-color: #ffcdf6;
  --main-text-color: #353430;
  --accent-color: #FF8DCB;
  --border-decorate-color: var(--main-text-color);
  --title-color: var(--pink);
  --accent-text-color: var(--main-text-color);
  --accent-background-color: var(--accent-color);
  --section-title-color: var(--main-text-color);
  --card-text-color: var(--main-text-color);
  --button-text-color: var(--main-text-color);
  --border-active-color: var(--main-text-color);
  --border-button-focus-color: var(--main-text-color);
  --border-button-hover-color: rgb(50, 49, 45, 0.4);
}

:root.theme-light .header-decorated-item {
  display: none;
}